@font-face{
  font-family:"CustomFont";
  src:url("Monda-Regular.ttf");
}

body {
  font-family: CustomFont, sans-serif;
  padding-right: 0;
  background-color: #E9E9E9;
  font-size:  13px;
}

.navbar-brand {
	font-size: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Radar Chart */
svg {
  font-size: 13px;
  font-family: CustomFont, sans-serif;
}

/* Year Buttons */
input[type="radio"].toggle {
    position: absolute;
    left: -99em;
}

.year-btn {
	border: 1px solid #E9E9E9;
	background-color: #bababa;
	color: #313131;
	font-size: 13px;
}

.year-btn:hover {
	color: #FFFFFF;
	background-color: #7e7e97;
}

input[type="radio"]:checked + .year-btn {
    background-color: #47476B;
    color: #FFFFFF;
}
/* Indicator Select */
#indicator-select {
	font-size: 13px;
}

/* Show/Hide Label Checkbox */
#label-text {
	color: #000000;
}

/* Country Selectors */
.country-select {
	font-size: 13px;
}

.country-label {
	color: #000000;
	text-align: center;
}

.color-box {
    width: 20px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
	margin-left: 10px;
	border: 1px solid white;
}

/* Modal Styling */
.modal-content {
	background-color: #E9E9E9;
	color: black;
}

#lineBreak {
	height: 10px;
	border-bottom: 1px solid black;
}

#modalColumn {
	height:40%;
}

#modalLine {
	height:40%;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    #aster-chart-popup {
        margin-left: -5px !important;
    },
    .aster-labels {
        display: none !important;
    }
    #line-chart {
        margin-left: 0;
    }
}
.tooltip {
  z-index: 1151 !important;
}
.style-eight { padding: 0; border: none; border-top: medium double #333; color: #333; text-align: center; } 
.style-eight:after { content: "§"; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.25em; background: white; }

.share-btn {
    display: inline-block;
    border-radius: 50px;
    color: #ffffff;
    border: 2px solid #fff;
    padding: 0.5em;
    width: 2.8em;
    opacity: 0.9;
    outline: none;
    text-align: center;
}
.share-btn:hover {
    color: #363636;
    background-color: #fff;
    border: 2px solid #fff;
}
.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}