@font-face{
  font-family:"UnicaOne";
  src:url("UnicaOne-Regular.ttf");
}

body {
  font-family: UnicaOne, sans-serif;
  padding-right: 0;
  background-color: #313131;
  font-size:  15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: red;
}

.solidArc:hover {
  fill: #4F4F4F ;
}

.solidArc {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.x.axis path {
  display: none;
}

.aster-score { 
  line-height: 0.5;
  font-family: UnicaOne, sans-serif;
  font-size: 15px;
  font-color: #000000;
}

/* Radar Chart */
svg {
  font-size: 13px;
  font-family: UnicaOne, sans-serif;
}

/* Year Buttons */
input[type="radio"].toggle {
    position: absolute;
    left: -99em;
}

.year-btn {
	border: 1px solid #313131;
	background-color: #FFFFFF;
	color: #313131;
}

.year-btn:hover {
	color: #FFFFFF;
	background-color: #7e7e97 !important;;
}

input[type="radio"]:checked + .year-btn {
    background-color: #47476B !important;
    color: #FFFFFF;
}

/* Show/Hide Label Checkbox */
#label-text {
	color: #FFFFFF;
}

/* Country Selectors */
.country-label {
	color: #FFFFFF;
	text-align: center;
}

.color-box {
    width: 20px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
	margin-left: 10px;
	border: 1px solid white;
}


/* Modal Styling */
.modal-content {
	background-color: #313131;
	color: white;
}

#modalBar {
	height:40%;
}

#modalLine {
	height:40%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    #aster-chart-popup {
        margin-left: -5px !important;
    },
    .aster-labels {
        display: none !important;
    }
    #line-chart {
        margin-left: 0;
    }
},
.tooltip {
  z-index: 1151 !important;
}
.style-eight { padding: 0; border: none; border-top: medium double #333; color: #333; text-align: center; } 
.style-eight:after { content: "§"; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.25em; background: white; }

.share-btn {
    display: inline-block;
    border-radius: 50px;
    color: #ffffff;
    border: 2px solid #fff;
    padding: 0.5em;
    width: 2.8em;
    opacity: 0.9;
    outline: none;
    text-align: center;
}
.share-btn:hover {
    color: #363636;
    background-color: #fff;
    border: 2px solid #fff;
}
.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}